<!DOCTYPE html>
<html>
<head>
  <title>Novisole</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
    <% if controller.class.name == "PagesController" %>
      <%= javascript_include_tag 'mercury.js' %>
      <%= stylesheet_link_tag 'mercury_overrides.css' %>
    <% end -%>
    <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render :partial => 'layouts/navbar' %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="row">
          <div class="span10 offset1">
            <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
              <a class="close" data-dismiss="alert">×</a>
              <%= msg %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="span10 offset1">
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
